multitenant-sagemaker/SFN/CreateTenantSFN.json
{
  "Comment": "A description of my state machine",
  "StartAt": "CreateBucket",
  "States": {
    "CreateBucket": {
      "Type": "Task",
      "Parameters": {
        "Bucket.$": "$.tenant.name"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:createBucket",
      "Next": "CreateModelPackageGroup",
      "ResultPath": "$.tenant.bucket"
    },
    "CreateModelPackageGroup": {
      "Type": "Task",
      "Parameters": {
        "ModelPackageGroupName.$": "$.tenant.name"
      },
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:createModelPackageGroup",
      "Next": "DynamoDB PutItem",
      "ResultPath": "$.tenant.modelpackage"
    },
    "DynamoDB PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Item": {
          "tenant-name": {
            "S.$": "$.tenant.name"
          },
          "tenant-bucket": {
            "S.$": "$.tenant.bucket.Location"
          },
          "tenant-modelregistry": {
            "S.$": "$.tenant.modelpackage.ModelPackageGroupArn"
          }
        }
      },
      "End": true
    }
  }
}
