SFN/DeleteTenantSFN.json
{
  "Comment": "A description of my state machine",
  "StartAt": "DynamoDB GetItem",
  "States": {
    "DynamoDB GetItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "tenant-name": {
            "S.$": "$.tenant.name"
          }
        }
      },
      "Next": "TenantExists"
    },
    "TenantExists": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Item.tenant-name.S",
          "IsPresent": true,
          "Next": "Parallel"
        }
      ],
      "Default": "Success"
    },
    "DynamoDB DeleteItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:deleteItem",
      "Parameters": {
        "TableName": "${TableName}",
        "Key": {
          "tenant-name": {
            "S.$": "$.Item.tenant-name.S"
          }
        }
      },
      "Next": "Success",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Fail",
          "ResultPath": "$.reponse.dynamodb-delete"
        }
      ],
      "ResultPath": "$.reponse.dynamodb-delete"
    },
    "Parallel": {
      "Type": "Parallel",
      "Next": "DynamoDB DeleteItem",
      "Branches": [
        {
          "StartAt": "ListModelPackages",
          "States": {
            "ListModelPackages": {
              "Type": "Task",
              "Parameters": {
                "ModelPackageGroupName.$": "$.Item.tenant-modelregistry.S"
              },
              "Resource": "arn:aws:states:::aws-sdk:sagemaker:listModelPackages",
              "ResultPath": "$.response.list-model-packages",
              "Next": "DeleteModelPackages"
            },
            "DeleteModelPackages": {
              "Type": "Map",
              "Iterator": {
                "StartAt": "DeleteModelPackage",
                "States": {
                  "DeleteModelPackage": {
                    "Type": "Task",
                    "Parameters": {
                      "ModelPackageName.$": "$.ModelPackageArn"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:sagemaker:deleteModelPackage",
                    "Next": "Complete",
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "States.TaskFailed"
                        ],
                        "BackoffRate": 1,
                        "IntervalSeconds": 30,
                        "MaxAttempts": 3
                      }
                    ]
                  },
                  "Complete": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              },
              "ItemsPath": "$.response.list-model-packages.ModelPackageSummaryList",
              "MaxConcurrency": 0,
              "ResultPath": "$.response.delete-model-package",
              "Next": "DeleteModelPackageGroup"
            },
            "DeleteModelPackageGroup": {
              "Type": "Task",
              "Parameters": {
                "ModelPackageGroupName.$": "$.Item.tenant-name.S"
              },
              "Resource": "arn:aws:states:::aws-sdk:sagemaker:deleteModelPackageGroup",
              "ResultPath": "$.response.delete-model-package",
              "Next": "DeleteEndpoint"
            },
            "DeleteEndpoint": {
              "Type": "Task",
              "Parameters": {
                "EndpointName.$": "$.Item.tenant-endpoint.S"
              },
              "Resource": "arn:aws:states:::aws-sdk:sagemaker:deleteEndpoint",
              "ResultPath": "$.response.delete-endpoint",
              "Next": "ListModels"
            },
            "ListModels": {
              "Type": "Task",
              "Parameters": {
                "NameContains.$": "$.Item.tenant-name.S"
              },
              "Resource": "arn:aws:states:::aws-sdk:sagemaker:listModels",
              "ResultPath": "$.response.list-models",
              "Next": "DeleteModel"
            },
            "DeleteModel": {
              "Type": "Task",
              "Parameters": {
                "ModelName.$": "$.response.list-models.Models[0].ModelName"
              },
              "Resource": "arn:aws:states:::aws-sdk:sagemaker:deleteModel",
              "ResultPath": "$.response.delete-model",
              "Next": "DeleteEndpointConfig"
            },
            "DeleteEndpointConfig": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "EndpointConfigName.$": "$.Item.tenant-name.S"
              },
              "Resource": "arn:aws:states:::aws-sdk:sagemaker:deleteEndpointConfig",
              "ResultPath": "$.response.delete-endpoint-config"
            }
          }
        },
        {
          "StartAt": "DeleteObject",
          "States": {
            "DeleteObject": {
              "Type": "Task",
              "Next": "DeleteBucket",
              "Parameters": {
                "Bucket.$": "$.Item.tenant-name.S",
                "Key": "churn.txt"
              },
              "Resource": "arn:aws:states:::aws-sdk:s3:deleteObject",
              "ResultPath": "$.response.delete-object"
            },
            "DeleteBucket": {
              "Type": "Task",
              "Parameters": {
                "Bucket.$": "$.Item.tenant-name.S"
              },
              "Resource": "arn:aws:states:::aws-sdk:s3:deleteBucket",
              "End": true
            }
          }
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "Fail"
        }
      ],
      "ResultPath": "$.response.delete-artifacts"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
